Sales_Bot_cleaned.json
{
  "name": "Copy of Sales Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        640,
        16
      ],
      "id": "081b96c9-0607-4c3c-b9e6-feb8765ce7c5",
      "name": "Telegram Trigger",
      "webhookId": "38222175-7e93-4a0d-bb94-67f3f9b4952c",
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "db377035-6d8f-4e4e-b94e-9cf04bb1a014"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "de652d16-76e7-4cc3-b7fb-9d1c8b47872b",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c26c5e91-b9ed-41d6-a521-3b811cd89a01",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1376,
        0
      ],
      "id": "39c7fbd0-3bbd-465e-b3af-558d0c88a835",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        16
      ],
      "id": "8629b33b-e64d-460f-b205-65d68b2b7e3e",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const googleSheetsData = $input.all().map((item) => item.json);\nconst telegramData = $(\"Telegram Trigger\")\n  .all()\n  .map((item) => item.json);\n\nconst result = telegramData.map((telegramItem) => {\n  const matchedItem = googleSheetsData.find(\n    (sheetItem) => sheetItem.ID === telegramItem.message.from.id,\n  );\n\n  if (matchedItem) {\n    return {\n      status: isNaN(matchedItem.Status) ? \"match\" : matchedItem.Status,\n    };\n  } else {\n    return {\n      status: \"new\",\n    };\n  }\n});\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        16
      ],
      "id": "19a612b0-be2c-4294-b804-db124654ca20",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Eg. are you looking for trading signals?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        -352
      ],
      "id": "b2de2f49-4929-4fce-a0f9-6a7d6774c878",
      "name": "Send a text message",
      "webhookId": "9ccf2cbc-d61b-45a3-bb2c-ce1810848e68",
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 10) + 1 }}\n",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2368,
        -352
      ],
      "id": "b3c9c40b-5a8e-4d43-bbcf-8ccfb40fe6db",
      "name": "Wait",
      "webhookId": "4019c295-c6a4-4665-bfc8-93442175a8cc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on this message I want you to determine if the user is interested or not :{{ $('Telegram Trigger').item.json.message.text }}\n\nif interested, then output yes, take the absence of negative as a positive\n\nif not, then output no",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1808,
        -192
      ],
      "id": "c72f033e-1d8b-4215-9049-8253ddac9b8f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1808,
        -288
      ],
      "id": "151d4181-d393-41f8-8114-6fcf03743999",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VRhAkQpMk5aiChbx",
          "name": "Open AI"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a79d587d-dad3-4a7c-95f7-43ce4b88607d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ce5cc2be-9303-4aaf-b369-57ad4b3e6ea7",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2160,
        -192
      ],
      "id": "ce42b738-88f2-451d-885e-195543765dd9",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on this message I want you to determine if the user is interested or not :{{ $('Telegram Trigger').item.json.message.text }}\n\nif interested, then output yes\n\nif not, then output no",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1808,
        16
      ],
      "id": "5b28cc99-8008-46d7-8763-cc25cda7a92b",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "90b8885d-b1ee-4617-b952-8642053ed422"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eee8fcaf-a308-4ac5-8a59-6f9d8aa8ede3",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2160,
        16
      ],
      "id": "d60ad175-99ee-4ccb-87e0-82176573db16",
      "name": "Switch2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Perfect! Heres how it works:\n\n1. activate the bot.fsflksjdfk\n\n2. no hidden fees\n\n3. begin trading!\n\nBonus: we take your money!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2544,
        0
      ],
      "id": "adc25ccb-0b36-4a1e-9d22-fac931ca4691",
      "name": "Send a text message1",
      "webhookId": "81d63719-4e2e-4720-9146-404642b1f038",
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        -352
      ],
      "id": "1d6eb28f-a14e-4396-95e7-0e88f1d45bdb",
      "name": "Wait2",
      "webhookId": "d07b7da2-58b3-4c18-ac87-ac4064a244b3"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 10) + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2368,
        0
      ],
      "id": "5827eadd-8e5a-4e97-93e3-0485402e4b30",
      "name": "Wait1",
      "webhookId": "7632cef0-21b9-47ec-9a89-43cc37a73cce"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        0
      ],
      "id": "ee829e2c-cbfd-4f26-b883-e343537ec998",
      "name": "Wait3",
      "webhookId": "dbbcfdf0-b182-4788-b541-1769ab6300d0"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3072,
        0
      ],
      "id": "de03e010-e83d-4a43-8453-f2087955d47c",
      "name": "Wait4",
      "webhookId": "38ab1255-3685-4397-b4ee-1f143acf8ccc"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Let me know if you''re good with that and we can set you up ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        0
      ],
      "id": "524d4a01-4d56-41a0-af2a-678aa1319a90",
      "name": "Send a text message2",
      "webhookId": "fd785ddd-48af-42c9-a510-69e199d17656",
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.result.chat.id }}",
            "Status": "2",
            "Activity": "Inactive",
            "Date of Last Interaction": "={{ $now }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3424,
        0
      ],
      "id": "d536de16-174a-4f0d-b538-0ec9f35c0aae",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a world class sales agent, I need you to determine if this user has any objections, if so, output based on what the objection is.\n\nhere is their message: {{ $('Telegram Trigger').item.json.message.text }}\n\nif they say something along the lines of wanting to begin, either by saying yes, lets do it, begin, how do we get started, and sounds like they are ready to go. THEN OUTPUT \"READY\"\n\nIf they have an objection that has anything remotely related to the concern of credibility, reviews, trustworthiness, traction, experience. Anything that would require us to send them our reviews, traction, testimonials and comments. THEN OUTPUT \"REVIEW\"\n\nif they have any objection that has anything remotely related to what our returns, profits, performance, the numbers we are returning, etcetera, then OUTPUT \"PERFORMANCE\"\n\nif they have any objection that has anything to do with the cost, fees, pricing, recurring fees, subscription, etcetera. THEN OUTPUT \"COST\"\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1808,
        208
      ],
      "id": "86e5b6ca-ca7a-4c23-801a-235d7de45d76",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "audio file placeholder",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        0
      ],
      "id": "fcd53347-b42b-4a72-929f-59b56e3ffd37",
      "name": "Send a text message3",
      "webhookId": "9ea5153e-d496-4476-90e7-84e8e58f0430",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "audio file place holder",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2544,
        -352
      ],
      "id": "a565ac48-b862-4ef1-9952-3ef15fa61fc4",
      "name": "Send a text message4",
      "webhookId": "a0a6d2b2-cd3a-4cb0-9080-89a55f0ec54f",
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "READY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "df71a86f-e171-4a78-b6ef-88d73e909605"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0edebbb6-a18c-47ee-8b36-3f4879444713",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "REVIEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0518c968-f2b4-4228-af27-3c3387c998c7",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "PERFORMANCE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b6a48e64-8e62-4eca-a87e-76de2f728e72",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "COST",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b59a780c-2655-4407-bd10-bf34e35ac156",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "NONE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2160,
        160
      ],
      "id": "ecd7b86e-da79-4c10-b220-05348ee80983",
      "name": "Switch3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        288
      ],
      "id": "a30585ef-f5cf-4246-886c-04cdeee803ea",
      "name": "Wait5",
      "webhookId": "0f6c0bfe-453e-4197-8e89-0b2c6ddc9699"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Here are our reviews\n\ntestimonials \n\ncommments\n\ntractions",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        288
      ],
      "id": "70800472-391f-4825-9e02-b2f93bd5689f",
      "name": "Send a text message5",
      "webhookId": "06ed373d-f2e9-4248-9599-66700214b410",
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        416
      ],
      "id": "7646423b-97e1-49c6-b2fb-ac8f3d8703cb",
      "name": "Wait6",
      "webhookId": "098266de-4f5a-4761-a784-fcef5f25e83b"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Look at our perfromance, we have made so and so\n\nthats this much more than hedge funds\n\non a 100,000 dollar account you could have made 20,000 in a month!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        416
      ],
      "id": "34778566-1dc3-44c2-8385-d1c697ca54eb",
      "name": "Send a text message6",
      "webhookId": "c2888be1-4311-409e-a0c2-116a9779a479",
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        544
      ],
      "id": "9a4e60c0-cec8-47e7-8e87-0549b67e1974",
      "name": "Wait7",
      "webhookId": "fe580fd9-3bc5-4b11-912a-02501e3c3ec3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "heres how much it costs:",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        544
      ],
      "id": "6b710881-6424-488a-ad18-7711e1cb1493",
      "name": "Send a text message7",
      "webhookId": "f5400ed3-b48b-4482-a9ec-1193bf41db43",
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2368,
        144
      ],
      "id": "2721426e-3542-42d0-8134-72e6586eae27",
      "name": "Wait8",
      "webhookId": "826cbfa8-75d3-4078-91c7-dec7612f7562"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Excellent,these are the steps for getting started",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2544,
        144
      ],
      "id": "ff9f6f04-89db-420f-b9c0-4ee03afff326",
      "name": "Send a text message8",
      "webhookId": "ae83d61a-407c-494d-816b-eae69dc08aad",
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Name": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "Lastname": "={{ $('Telegram Trigger').item.json.message.chat.last_name }}",
            "Activity": "Active"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        -192
      ],
      "id": "4442f582-1a8c-4671-9641-6e80daf8f0b7",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Activity }}",
                    "rightValue": "Active",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "448cc0e9-7f9c-49e4-ade1-4806eb810119"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1024,
        16
      ],
      "id": "8564e2ab-a60f-48ed-9aa1-cbcf9094fea0",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.result.chat.id }}",
            "Status": "1",
            "row_number": 0,
            "Activity": "Inactive",
            "Date of Last Interaction": "={{ $now }}",
            "Date Onboarded": "={{ $now }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        -352
      ],
      "id": "a56baabc-22c4-47cb-bae7-231f668d2cfd",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Activity": "Active"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        16
      ],
      "id": "c517329a-93e7-4bbe-bbd3-35f2d29efe3b",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Activity": "Active"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        208
      ],
      "id": "b275366f-b38d-446e-b7f5-16af3eb95ae0",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.result.chat.id }}",
            "Activity": "Inactive",
            "Date of Last Interaction": "={{ $now }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        144
      ],
      "id": "adea1dc3-d87c-4fa8-afff-c6c0ecf285e2",
      "name": "Update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.result.chat.id }}",
            "Activity": "Inactive",
            "Date of Last Interaction": "={{ $now }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        288
      ],
      "id": "cb38f494-7742-4161-b452-0cd17e1b8697",
      "name": "Update row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.result.chat.id }}",
            "Activity": "Inactive",
            "Date of Last Interaction": "={{ $now }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        416
      ],
      "id": "ac69bca0-88c3-408f-be76-50bb710a052d",
      "name": "Update row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.result.chat.id }}",
            "Activity": "Inactive",
            "Date of Last Interaction": "={{ $now }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        544
      ],
      "id": "9127c1a0-95fa-45af-9c39-20c59b46d66c",
      "name": "Update row in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.result.chat.id }}",
            "Activity": "Inactive",
            "Date of Last Interaction": "={{ $now }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        672
      ],
      "id": "38750cc0-a780-451a-8d06-93d2526f98b4",
      "name": "Update row in sheet8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 10) + 1 }}\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2368,
        -176
      ],
      "id": "26d3eef7-e603-437d-b8b8-95c4660856ed",
      "name": "Wait9",
      "webhookId": "623e8624-56f6-4425-84fe-b3970e913c23"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "audio file for someone who says not looking for trading signals",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2544,
        -176
      ],
      "id": "a7a9b230-adbe-4699-b27f-b2dfe312af5f",
      "name": "Send a text message9",
      "webhookId": "34f6d823-07f5-41ab-a95f-1c4522d081ab",
      "credentials": {
        "telegramApi": {
          "id": "qOJnQB7WJfTeaM63",
          "name": "Sales Bot 1.1"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww",
          "mode": "list",
          "cachedResultName": "Sales Onboarding Bot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gnWG1IsY1YZgj102Ca9x0At_1_V4wFBqwXdjMsXG6Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.result.chat.id }}",
            "Status": "2",
            "Activity": "Inactive"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Onboarded",
              "displayName": "Date Onboarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Last Interaction",
              "displayName": "Date of Last Interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Attempts",
              "displayName": "Follow Up Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        -176
      ],
      "id": "8f9c3f3e-6e09-4801-9664-e3312b4c00cf",
      "name": "Update row in sheet9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message4": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message5": {
      "main": [
        [
          {
            "node": "Update row in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message8": {
      "main": [
        [
          {
            "node": "Update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message6": {
      "main": [
        [
          {
            "node": "Update row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message7": {
      "main": [
        [
          {
            "node": "Update row in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "Send a text message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message9": {
      "main": [
        [
          {
            "node": "Update row in sheet9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe66ee5f-7a8c-4521-8f6d-6ba053e2f046",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b207b85dcae537f97814ad26ee5e0053e004ed4b2fa04cddafc4514ff60a298c"
  },
  "id": "f7Ey3Htr1poJj8Xw",
  "tags": []
}