Telegram_Terminal_cleaned.json
{
  "name": "Telegram Terminal copy",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "/continue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "43172337-f330-40ef-add8-905c376a2067"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29c8dab7-6bdc-4052-bae6-dde44a03a231",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "/pause",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "31251135-ba97-4653-bab3-47d13ac110fe",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "/portfolio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ae5fd911-4060-41c6-a31d-bd728c6d03a1",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "/tradestatus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8245e83-928d-4c19-9135-2b9abfa83f0b",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "/unknown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -656,
        16
      ],
      "id": "998db4f4-5476-4ad3-b8b0-029c8114a94f",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are an agent that retrieves input from the user and assesses what their command is to control a trading bot\n\nhere are the functions you are being triggered for\n\n##case 1\nStart / play / continue / activate / run the trading bot\nif this is what is being asked for then output \"/continue\"\n\n##case 2\nStop / pause / deactivate / the trading bot\nif this is what is being asked for then output \"/pause\"\n\n##case 3\ncheck / see the trading portfolio /portfolio / profit\nif this is waht is being asked the then output \"/portfolio\"\n\n##case 4\ncheck / see the trade stauts \nif this is what is being asked for then output \"/tradestatus\"\n\nif unsure then out \"/unknown\"\n\nremember to think about what is being asked \nthis can either be in one word or a full sentence\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1024,
        64
      ],
      "id": "b90eb718-4a61-4bd1-ad7a-0ff0a1389815",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1056,
        208
      ],
      "id": "90570d1e-2cfa-4b77-a231-a80b8c0905da",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VRhAkQpMk5aiChbx",
          "name": "Open AI"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -848,
        208
      ],
      "id": "a2e8a423-3ae7-4d00-8de1-773425cfba17",
      "name": "Think"
    },
    {
      "parameters": {
        "text": "=Your Insight bot is OFF",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -48
      ],
      "id": "ef96fe2a-2d0c-4bea-9945-add2a2ec3c08",
      "name": "Send a text message3",
      "webhookId": "15de72cf-1dd8-4b59-a62d-f389ef267904",
      "credentials": {
        "telegramApi": {
          "id": "hajuwfbWizMPY1m1",
          "name": "Insight Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=",
        "text": "=Your Insight bot is ON",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -320
      ],
      "id": "aaaa9873-d766-4b50-8881-2c47370ede89",
      "name": "Send a text message4",
      "webhookId": "a874e5db-65e8-4c77-ac1e-b1c81edc5801",
      "credentials": {
        "telegramApi": {
          "id": "hajuwfbWizMPY1m1",
          "name": "Insight Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "{SHEETS_DOCUMENT_ID}",
          "mode": "list",
          "cachedResultName": "Master Bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{SHEETS_DOCUMENT_ID}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.output }}",
            "ChatID": "={{ $('When Executed by Another Workflow').item.json.chatId }}"
          },
          "matchingColumns": [
            "ChatID"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instrument",
              "displayName": "Instrument",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TP Log",
              "displayName": "TP Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -272,
        -208
      ],
      "id": "bc64d346-286a-4b58-8501-3ec52a2dec54",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "{SHEETS_DOCUMENT_ID}",
          "mode": "list",
          "cachedResultName": "Master Bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{SHEETS_DOCUMENT_ID}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.output }}",
            "ChatID": "={{ $('When Executed by Another Workflow').item.json.chatId }}"
          },
          "matchingColumns": [
            "ChatID"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instrument",
              "displayName": "Instrument",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TP Log",
              "displayName": "TP Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -272,
        -48
      ],
      "id": "86bf9621-9390-4a70-9da7-bb29796e6184",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatId",
              "type": "number"
            },
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1328,
        64
      ],
      "id": "5b65b43f-b48c-42b5-aa9e-08d565f96a73",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "message": "={{ $('When Executed by Another Workflow').item.json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -272,
        448
      ],
      "id": "74b6b826-7535-4267-9ad6-e10fdeac625a",
      "name": "Send a message",
      "webhookId": "bfc48cdb-b8f7-4554-85f2-806b40d974ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "lio73FPzPU92wtSV",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -208
      ],
      "id": "7917aa8e-a238-4c85-bb1a-07b350578552",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0yxo0ztP7RE1tTsc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.forceControl }}",
                    "rightValue": "ON",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "87a40773-22cc-4a50-bd64-426a35a024ea"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "292fa500-4c64-4797-a171-2ed42081a82e",
                    "leftValue": "={{ $json.forceControl }}",
                    "rightValue": "OFF",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        112,
        -208
      ],
      "id": "e2281afc-b065-4d34-85df-f13c1a153754",
      "name": "Switch2"
    },
    {
      "parameters": {
        "chatId": "=",
        "text": "=Your Insight bot has been temporarily paused due to current market conditions. We will reactivate it the moment our neural networks and analysts deem appropriate. ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -160
      ],
      "id": "dcd8eeab-e28a-4833-979d-ad0b93db0161",
      "name": "Send a text message5",
      "webhookId": "44120411-b1f8-492e-bbc1-bc7c22d06ce3",
      "credentials": {
        "telegramApi": {
          "id": "hajuwfbWizMPY1m1",
          "name": "Insight Telegram API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        112
      ],
      "id": "0cdcdb63-e151-4c3d-8e5d-3bd46e57f7b7",
      "name": "Portfolio Summary"
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        272
      ],
      "id": "a81bf948-6b1f-49b1-975f-81183851f46a",
      "name": "Trade Status"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Portfolio Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trade Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Portfolio Summary": {
      "main": [
        []
      ]
    },
    "Trade Status": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb52c7c4-9732-4ca8-b37b-2b73af619284",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b207b85dcae537f97814ad26ee5e0053e004ed4b2fa04cddafc4514ff60a298c"
  },
  "id": "0xKAb4WHg1LFwZ20",
  "tags": []
}